body {
  font-family: "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h2 {
  text-align: center;
}

.row {
  display: flex;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 50%; /* Add this line to make the squares circular */
}




.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
