
   h2{
    padding: 10;
    scale: 2;
   }

.allboard{
    box-shadow: 5px 5px 52px 10px grey;

    display: flex;
    flex-direction: column;
    height: 200px;
    height: auto;
    width: auto;
    background: white;
    padding: 7px;
    border: 3px solid rgb(238, 253, 255);
    justify-content: center;
    align-items: center;
    scale: 1.5;
    
    
  }
  
 p{
    margin-bottom: 50px;
 }

 
a {
    background-color: rgb(191, 235, 255);
    display: flex;
    flex-direction: column;
    width: 100px;
    justify-content: center;
    align-items: center;
    margin: 15px;
    padding: 4px;
    color: rgb(80, 80, 80);
    text-decoration: none;
    
    border: 3px;
    border-radius: 8px;
}
input{
    padding: 5px;
}
label{
    margin: 10px;
}

body {
    font-family: "Arial", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: rgb(203, 203, 203);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 100px;
  }
  
  .row {
    display: flex;
  }
  
  
  .cell {
    width: 50px;
    height: 50px;
    border: 1px solid #000000;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 50%; /* Add this line to make the squares circular */
    margin: 3px;
    background-color: white;
  }
  
  @keyframes dropPieceAnimation {
    0% {
      transform: translateY(-400px);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  
  .container {
    transform: scale(1.375);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .arka{
    margin-bottom: 10px;
    border: 2px solid black;
    box-shadow: 5px 5px 100px 10px grey;
    background-color: gray;
    opacity: 0.8;
    border-radius: 5%;
  }
  
  
  :root {
    --board-color: gray;
    --cell-color: blue;
  }
  
  .arka {
    background-color: var(--board-color);
  }
  
  
  
  .red-cell { animation: dropPieceAnimation 0.5s ease-out;
    background-color: var(--cell-color-red); /* istediğiniz kırmızı renk */
    border: 2px solid black;
  }
  
  .yellow-cell { animation: dropPieceAnimation 0.5s ease-out;
    background-color: var(--cell-color-yellow); /* istediğiniz sarı renk */
    border: 2px solid black;
  
  }
  
  